@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background-color: #ddedaa;
}

.navbar {
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding: 20px 0;
}

.intro h1 {
    color: rgb(75, 75, 75);
    font-size: 50px;
    display: flex;
    height: 90vh;
    align-items: center;
}

#about h3 {
    font-size: 40px;
} 

.row p {
    font-size: 20px;
    text-align: justify;
}

#work {
    padding: 100px;
}

#contact {
    background:#d7816a;
    font-size: 20px;
    opacity: 0.8;
}

#contact a {
    color: #FFF;
    opacity: 0.9;
}

#contact a:hover {
    transition: 0.5s;
    opacity: 0.5;
}
